.slider{
    display:flex;
    align-items:center;
    -webkit-appearance: none;
    appearance:none;
    background-color:#E9F0F5;
    outline:none;
    border-radius:0%;
    height:5px;
    z-index:2;
}
.slider::-webkit-slider-thumb{
    border-radius:0px;
}
.slider::-moz-range-thumb {
    border-radius:0px;
}
datalist{
    display:block;
}
#slider1{
    position:relative;
    top:-5px;
    z-index:5;
    background-color:transparent;
}